body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;

}

h1 {
    text-align: center;
}

img {
    height: 120px;
    width: 120px;
    border: 3.5px solid red;
    border-radius: 100%;
}

.imagem {
    text-align: center;
}